<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% if (locals.kahootjs) { %>
      <script src="/socket.io/socket.io.js" defer></script>
      <script src="./javascripts/kahoot.js" defer></script>
    <% }%>
    <% if (locals.kahootadminjs) { %>
      <script src="/socket.io/socket.io.js" defer></script>
      <script src="./javascripts/kahoot_admin.js" defer></script>
    <% }%>
  </head>
  <body>
